/out/
/build_graphs/
.snakemake/
.vscode/*
__pycache__
/gh-pages/
/playground/
.envrc

# Quarto currently renders into the qmd file's directory
*.html
*_files/
/media
!/src/presentation/js/*
!/src/presentation/css/*

.flake8

# Apple stuff
.DS_Store

# Latex workshop recipe
!.vscode/settings.json
# pixi environments
.pixi
*.egg-info

