/out/
/build-graphs/
.snakemake/
.vscode/*
__pycache__
/gh-pages/
/playground/
.envrc

.flake8

# Apple stuff
.DS_Store

# Latex workshop recipe
!.vscode/settings.json
# pixi environments
.pixi
*.egg-info

